<main>
    <article>
        <h3>{{ article.title }}</h3>
        <div class="label"><span class="author">{{ user.name }}</span><span class="time">{{ article.time }}</span></div>
        <p class="brief">{{ article.content }}</p>
    </article>
</main>