<main>
    <form method="POST">
        <div>
            <label for="name">用户名</label>
            <input id="name" name="name" type="text">
        </div>
        <div>
            <label for="password">密码</label>
            <input id="password" name="password" type="password">
        </div>
        <div>
            <input type="submit" value="登录">
        </div>
    </form>
</main>