<main>
    <div>
        <label for="name">用户名</label>
        <input id="name" name="name" type="text">
    </div>
    <div>
        <label for="password">密码</label>
        <input id="password" name="password" type="password">
    </div>
    <div>
        <button class="btn" data-action="login" type="button">登录</button>
    </div>
</main>