<main>
    <form method="POST">
        <div>
            <label for="name">用户名</label>
            <input id="name" name="name" type="text">
        </div>
        <div>
            <label for="password">密码</label>
            <input id="password" name="password" type="password">
        </div>
        <div>
            <label for="email">密码</label>
            <input id="email" name="email" type="email">
        </div>
        <div>
            <input class="btn" type="submit" value="注册">
        </div>
    </form>
</main>