<main>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="upload" multiple="multiple">
        <button type="submit" data-action="upload" class="btn">上传</button>
    </form>
</main>