* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

a {
    color: #773460;
    text-decoration: none;
}
span {
    font-size: 100%;
    font-weight: normal;
}

ul, li {
    list-style: none;
}
label {
    vertical-align: top;
}
input, textarea, select {
    border: 1px solid #773460;
    outline: none;
    padding: .3em .5em;
}
button {
    border: none;
    outline: none;
}

input::placeholder {
    color: #ccc;
}

input:focus, textarea:focus,select:focus {}

header {
    padding: 1em;
    flex: 1 1 100%;
    color: #773460;
    border-bottom: 1px solid #773460;
}
main {
    flex: 6;
    padding: 1em;
}

/* navigation */
.nav {
    flex: 1;
    align-content: flex-start;
    justify-content: center;
    padding: 1em;
}

.nav li {
    line-height: 2em;
}

.nav li a {
    display: block;
    text-align: center;
}

.nav li a.active {
    color: #fff;
    background: #773460;
}

/* button */
.btn {
    box-sizing: border-box;
    display: inline-block;
    min-width: 5em;
    font-size: 100%;
    color: #fff;
    padding: .3em .5em;
    background: #773460;
    cursor: pointer;
}
.btn:hover {
    opacity: .9;
}

.btn-confirm {
    background: #96E650;
}
.btfn-cancel {
    background: #FADC3C;
}

/* article */
article {
    width: 100%;
}
.article {
    width: 70%;
    padding-bottom: .5em;
    margin-bottom: 1em;
    padding-left: .5em;
}
.article .title {
    color: #773460;
    font-size: 22px;
    border-left: .2em solid #773460;
    padding-left: .5em;
    margin: .5em  0 .5em -.7em;
}
.article .label span{
    margin-right: 1em;
}
.article .time {
    font-size: 14px;
    color: #ccc;
}
.article .abstract {
    font-size: 14px;
    color: #333;
    margin-top: .5em;
}
.article-detail .title {
    color: #773460;
    font-size: 28px;
}
.article-detail .label {
    margin-top: 1em;
}
.article-detail .label span{
    margin-right: 1em;
}
.article-detail .content {
    font-size: 14px;
    color: #333;
    margin-top: 1em;
}
/* form */
.form .form-line {
    margin: 1em 0;
}
.form .form-line label {
    min-width: 2em; 
    display: inline-block;
    margin-top: .5em;
    margin-right: .5em;
}
.form .form-line input {
    height: 3em;
    line-height: 3;
}
.form .form-line textarea {
    min-width: 20em;
    max-width: 100em;
    width: 30em;
    height: 10em;
    line-height: 2em;
    resize: none;
}
.form .form-line button {
    margin-left: 2.7em;
}

input[type="file"] {
    display: none;
    background: transparent;
}

input[type="file"] + label {
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    width: 20em;
    font-size: 94.5%;
    border: 1px solid #773460;
    padding: .3em .5em;
}

.note {
    color: #773460;
}